body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 50px;
    line-height: 2;
    margin-bottom: 0px;
    margin-top: 0px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: white;
  text-decoration: underline;
  background-color: #28b116c3;
  font-style: italic;
}

.del {
  color: white;
  text-decoration: line-through;
  background-color: #ff8181;
}

.column {
        float: left;
        width: 50%;
        height: 200px;
        text-align: left}
